.footer{
    display: flex;
    align-items: center;
    margin: -0.5rem -3.5rem;
    position: relative;
    margin-top: 7rem;
    height: 60vh;
}
.f-content{
    position: absolute;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-top: 2rem;
    gap: 4rem;
    color: white;
}

.f-icons{
    display: flex;
    gap: 2rem;
    transform: scale(1.5);
}
.boom{
    font-size: 18px;
    font-weight: bold;
}